@import "../../styles/globals.scss";

.main-container {
  max-width: 1475px;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow: hidden;
}

.nav {
  // Animation burger menu
  input[type="checkbox"] + label {
    @media (min-width: $desktop_width) {
      display: none !important;
    }
  }

  input[type="checkbox"] {
    display: none;

    & ~ ul {
      display: none;

      @media screen and (min-width: $desktop_width) {
        display: flex;
      }
    }

    &:checked {
      & + label {
        .bar-two {
          display: none;
        }

        .bar-one {
          transform: rotate(45deg);
        }

        .bar-three {
          top: 0;
          transform: rotate(-45deg);
        }
      }

      & ~ ul {
        display: flex;
      }
    }

    & + label {
      display: block;
      position: relative;
      height: 15px;
      width: 20px;

      .bar {
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: rgb(49, 49, 49);
        transition-duration: 0.5s;
      }

      .bar-two {
        top: 6px;
      }

      .bar-three {
        top: 12px;
      }
    }
  }

  // menu
  .nav__list {
    list-style: none;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    background-color: map-get(map-get($themes, "light"), "base0");
    border-radius: 11px;
    width: 80%;
    margin: auto;
    top: 90px;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    text-align: center;
    padding-left: 0px;

    &::after {
      content: "";
      position: absolute;
    }

    li {
      width: 100%;
      color: map-get(map-get($themes, "light"), "base5");
      text-decoration: none;
      letter-spacing: 0.1em;
      display: inline-block;
      padding: 15px;
      position: relative;
      font-size: 13px;
      font-weight: 400;
      min-width: 8rem;
      cursor: pointer;
      box-sizing: border-box;
      padding-left: 0px;

      &:not(:last-child) {
        border-bottom: 1px solid map-get(map-get($themes, "light"), "base4");
      }
    }

    @media screen and (min-width: $desktop_width) {
      position: relative;
      top: 0;
      background: none;
      padding: 0;
      flex-direction: row;
      width: 100%;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25) !important;
      color: map-get(map-get($themes, "light"), "base0");

      li {
        border: none !important;
      }
      .nav__link {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}

.nav_container {
  width: 90%;
  max-width: 1495px;
  background-color: map-get(map-get($themes, "light"), "base0");
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 5rem;

  @media (max-width: $desktop_width) {
    width: 90%;
    padding: 1.5rem 0.5rem;
    background-color: map-get(map-get($themes, "light"), "base0");
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__link {
  padding-right: 20px;
  @media (max-width: $desktop_width) {
    width: 100%;
    padding-right: 0px;
  }
}

.logo {
  width: 150px;
  height: 63px;
  position: relative;
}

.footer_container {
  width: 100%;
  display: flex;
  height: 6rem;
  background-color: map-get(map-get($themes, "light"), "base6");
  color: map-get(map-get($themes, "light"), "base7");
  flex-shrink: 0;
  position: relative;
  z-index: 666;
}

.nav-footer {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 2rem;
}

.link-footer {
  float: right;
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}
