@import "./globals.scss";

.mainAdmin {
  background-color: #f8f8f8;
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin-left: 5rem;
  margin-top: 4.2rem;

  @media (max-width: $desktop_width) {
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    min-height: 30vh;
    margin-left: 0rem;
    margin-top: 0rem;
    padding-top: 6rem;
  }
}

.infoContainer {
  display: flex;
  max-width: 60%;
  max-height: 160px;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-left: 1rem;

  @media (max-width: $desktop_width) {
    max-width: 90%;
    margin: auto;
    margin-top: 15px;
    flex-wrap: wrap;
    max-height: 200px;
    margin-bottom: 10px;
  }
}

.textContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  @media (max-width: $desktop_width) {
    width: 100%;
  }
}

.container__picture {
  width: 80px;
  position: relative;
  display: block;
  margin: auto;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 1rem;
}

.button__card {
  width: 8rem;
  display: flex;
  margin: auto;
  margin-top: 3rem;
  justify-content: center;
  border-radius: 5px;
  background-color: map-get(map-get($themes, "light"), "base1");
  color: map-get(map-get($themes, "light"), "base0");
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.button__add {
  width: 5rem;
  height: 5rem;
  display: flex;
  margin: auto;
  margin-top: 3rem;
  justify-content: center;
  border-radius: 50px;
  background-color: map-get(map-get($themes, "light"), "base1");
  color: map-get(map-get($themes, "light"), "base0");
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  line-height: 3.7rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
