@import "./globals.scss";

.main {
  width: 100%;
  min-height: 82vh;
  display: flex;
}

.leftContainer {
  width: 100%;
  background-color: map-get(map-get($themes, "light"), "base4");
  max-height: 600px;
  padding: 1rem;
  box-sizing: border-box;

  @media (min-width: $desktop_width) {
    width: 40%;
    min-height: 82vh;
    background-color: map-get(map-get($themes, "light"), "base4");
    padding: 5rem;
    padding-top: 3rem;
    box-sizing: border-box;
    display: flex;
  }
}

.rightContainer {
  display: none;

  @media (min-width: $desktop_width) {
    width: 60%;
    background-color: map-get(map-get($themes, "light"), "base0");
    padding: 3rem;
    display: block;
    box-sizing: border-box;
  }
}

.bgContainer {
  position: relative;
  max-width: 75%;
  height: 100%;
  display: flex;
  margin: auto;
}

.formInscription {
  max-width: 450px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;

  @media (min-width: $desktop_width) {
    max-width: 450px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
}

.inputEmail {
  width: 100%;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: map-get(map-get($themes, "light"), "base7");
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 2rem;
  padding-bottom: 5px;
}

.inputEmail:focus {
  outline: none;
}

.boxInFormSubmit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.alreadySub {
  width: 100%;
  font-size: 0.8rem;
  color: map-get(map-get($themes, "light"), "base5");
  text-align: right;
  margin-top: 2rem;
}

.colorLink {
  color: map-get(map-get($themes, "light"), "base9");
  cursor: pointer;
}
