@import "./globals.scss";

.buttonBack {
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 40px;
  background: linear-gradient(
    90deg,
    rgba(109, 152, 80, 1) 0%,
    rgba(147, 203, 109, 1) 100%
  );
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  @media (min-width: $desktop_width) {
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 40px;
    max-height: 45px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
  }
}

.cardRecipe {
  width: 13rem;
  height: 20rem;
  background-color: #fff;
  margin-top: 3rem;
  margin-left: 6rem;
}
